html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: #fafafa;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #4b4b4b;
    text-decoration: none;
}

div.sticky_nav {
    position: fixed;

    width: 100%;
    height: 50px;

    background-color: #6b6b6b;

    ul {
        box-sizing: border-box;
        width: 1170px;
        height: 100%;
        margin: auto;
        padding: 0 35px;

        li {
            float: left;
            width: 120px;
            height: 100%;
        }

        .coming_soon {
            float: right;
            width: 150px;
            height: 100%;
        }

        & a {

            float: left;
            width: 100%;
            height: 100%;

            text-align: center;
            line-height: 50px;
            font-weight: lighter;
            color: #cdcdcd;

            &:hover {
                color: #dcdcdc;
            }

        }
    }
}

.container {
    margin: 0 auto;
    padding: 10px;
    width: 1170px;

    header {
        margin-top: 80px;
        width: 100%;
        height: 475px;
        border-radius: 10px;
        overflow: hidden;

        text-align: center;

        // background-color: #cdcdcd;
        background-image: linear-gradient(215deg, #7A67EE, #8968CD);
        color: #fafafa;

        .title {
            margin-top: 75px;
            margin-bottom: 10px;
            width: 100%;
            height: 80px;

            font-size: 48px;
            text-shadow: 0px 0px 4px #dcdcdc;
        }

        .header_content {
            box-sizing: border-box;
            width: 100%;
            height: 120px;
            margin-bottom: 20px;
            padding: 0 10%;

            span {
                float: left;
                width: 100%;
                line-height: 40px;

                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
        }

        .button {
            box-sizing: border-box;
            margin: auto;
            width: 150px;
            height: 60px;
            line-height: 60px;
            letter-spacing: 1px;

            border: 2px solid #dcdcdc;
            text-shadow: 0px 0px 2px #cdcdcd;
            box-shadow: 0px 0px 12px rgba(75,60,75,0.4);
        }
    }

    main {
        width: 100%;

        .title_line {
            margin: 50px 0;
            width: 100%;
            height: 140px;

            text-align: center;

            .title {
                width: 100%;
                height: 50px;
                font-size: 36px;
                line-height: 50px;
                margin-bottom: 10px;
                // font-weight: lighter;
            }

            .info {
                width: 100%;
                height: 60px;
                font-size: 16px;
                font-weight: lighter;

                span {
                    float: left;
                    width: 100%;
                    height: 30px;
                    line-height: 30px;
                    margin: 5px 0;
                }
            }

        }

        .commit_line {
            width: 100%;
            height: 240px;

            .commit_image {
                float: left;
                box-sizing: border-box;
                width: 320px;
                height: 200px;
                margin: 20px 25px;
                margin-right: 50px;

                border-radius: 10px;
                background-color: #afafaf;
                box-shadow: 0px 0px 4px #8d8d8d;
            }

            .commit {
                float: left;
                width: 700px;
                height: 200px;
                padding: 20px 25px;
                padding-left: 50px;

                .title {
                    width: 100%;
                    height: 40px;
                    line-height: 40px;
                    padding-bottom: 10px;

                    font-size: 28px;
                    
                    color: #4b4b4b;
                }

                span {
                    float: left;
                    width: 100%;
                    height: 65px;
                    margin: 10px 0;
                    // line-height: 60px;

                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    overflow: hidden;

                    color: #6b6b6b;
                    text-indent: 1em;
                    font-weight: lighter;
                }

                .more_info {
                    float: left;
                    width: 110px;
                    height: 45px;
                    line-height: 45px;
                    margin: 10px 15px;

                    text-align: center;
                    font-weight: lighter;
                    color: #fafafa;

                    border-radius: 5px;
                    background-color: #6C7B8B;
                    box-shadow: 2px 2px 4px #cdcdcd;
                }
            }
        }

        .divider {
            width: 95%;
            height: 1px;
            margin: 0 2.5%;
            margin-top: 24px;
            margin-bottom: 25px;

            background-color: #afafaf;
        }
    }
}

footer {
    margin-top: 20px;
    width: 100%;

    .link_list {
        width: 100%;
        height: 100px;

        background-color: #cdcdcd;
    }

    .bottom_line {
        width: 100%;
        height: 40px;

        background-color: #6b6b6b;
    }
}